<!doctype html>
<html th:with="tabTitle='bénévole'" lang="fr">

<head th:replace="~{_fragments/layout :: head(${tabTitle})}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/styles.css" />
</head>

<body>

  <!-- -->
  <!-- En-tête de page - barre de navigation -->
  <!-- -->
  <header th:replace="~{_fragments/layout :: header }"></header>

  <!-- -->
  <!-- Contenu de la page -->
  <!-- -->
  <!-- Fin Contenu de la page -->

  <h1 class="text-center">Formulaire d'inscription pour les bénévoles</h1>
  <section class="benevole">
    <form class="form-container" action="/benevole" method="post" th:object="${item}">

      <!-- Champ caché : id -->
      <input type="hidden" th:field="*{idBen}">

      <!-- Nom -->
      <label for="nom">Nom</label>
      <input type="text" id="nom" th:field="*{nomBen}" required>

      <!-- Prénom -->
      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" th:field="*{prenom}" required>

      <!-- Email -->
      <label for="email">Adresse email</label>
      <input type="email" id="email" th:field="*{email}" required>

      <!-- Téléphone -->
      <label for="telephone">Numéro de téléphone</label>
      <input type="tel" id="telephone" th:field="*{telephone}" required>

      <!-- Disponibilité -->
      <label for="disponibilite">Date de disponibilité</label>
      <input type="date" id="disponibilite" th:field="*{disponibilite}" required>


      <button type="submit">Envoyer ma candidature</button>
      <button type="reset">Annuler</button>

    </form>
  </section>
  <!-- Message d'alerte -->
  <div th:replace="~{_fragments/component :: alert}"></div>
  <!-- -->
  <!-- Pied de page -->
  <!-- -->
  <footer th:replace="~{_fragments/layout :: footer}"> </footer>

  <!-- Scripts définis dans le layout -->
  <th:block th:replace="~{_fragments/layout :: bottom-scripts}"></th:block>

</body>

</html>

<!---hello-->