@import url(../lib/bootstrap/bootstrap.min.css);
@import url(../lib/bootstrap/bootstrap-icons.min.css);
@import url(../lib/fontawesome/css/all.min.css);

/* classe nospin - supprime le spinner das champs de type number */
/*-------*/
/* Chrome, Safari, Edge, Opera */
input.nospin::-webkit-outer-spin-button,
input.nospin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input.nospin[type=number] {
  -moz-appearance: textfield;
}